body {
    /* padding-top: 50px; *//* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.nav {
    background-color: white;
}

.navbar-fixed-top .nav {
    /* padding-top: 15px; */
    /* padding: 15px 0; */
}

.navbar-fixed-top .navbar-brand {
    padding-right: 30px;
    /* padding: 0 15px; */
}

@media(min-width:768px) {
    body {
        /* padding-top: 50px; */ /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.navbar-brand {
    margin-right: 10px;
}

.nav li span {
    position: relative;
    display: block;
    padding: 10px 15px;
}


.max_height {
    min-height: 80%;
    height: 80%;
}

.clickable {
    cursor: pointer;
}

.item_cell {
    color: #5e5e5e;
    padding: 0 0 0 100px;
}

.red-text {
    color: red;
}

.status-extra {
    color: darkred !important;
}
.status-missing {
    color: orangered !important;
}
.status-matched {
    color: green !important;
}
.status-under {
    color: #34383c !important;
}
.status-over {
    color: orange !important;
}

.status-multi {
    color: #5f3f3f !important;
}

.text-black {
    color: black;
}

.autocomplete-option:hover span.hilite {
    background-color: inherit;
}

.autocomplete-option span.hilite {
    background-color: #ffff00;
}

.padded-left {
    margin-left: 15px;
    margin-right: -20px;
}
.loading {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}

.loading::after {
  display: inline-table;
  white-space: pre;
  text-align: left;
}
/* default loading is ellip */
.loading::after {
  content: "\A.\A..\A...";
  animation: spin4 2s steps(4) infinite;
}
.loading.dots::after {
  content: "⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏";
  animation: spin10 1s steps(10) infinite;
}
@keyframes spin4  { to { transform: translateY( -6.0em); } }
@keyframes spin10 { to { transform: translateY(-15.0em); } }

.bg-orange {
    background-color: orange;
    opacity: 80;
    margin: 1px;
}